*{
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: rgb(237, 237, 237);
}

.navigation{
    
   
position: relative;
top: 40px;
    padding: 20px;
    z-index: 2;
}
.none-imege{
    display: none;
}

.menu{
    
      display: flex;
    justify-content:baseline;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.box-logo{
 position: relative;
    display: flex;
    justify-content:baseline;
    align-items: center;
    list-style: none;
}
.logo1{
    position: absolute;
}
    .logo2{
        position: absolute;
        top: -40px;
        left: 80px;
    }
    .logo3{
        position: absolute;
           top: 10px;
         left: 80px;
    }
    .logo-text{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 20px;
    }

    .block-center{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .block-menu1{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        list-style: none;
    }
    .btn-menu button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 40px;
        gap: 10px;
        background-color: #5EB083;
        border-radius: 50px;
        border: none;
        color: white;
        cursor: pointer;
    }
.container1{
     max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

    .cont-conter1{
         display: flex;
     justify-content: space-around;
        flex-direction: column;
        gap: 50px;
    }
    .group-text1 h1{
font-weight: 100;

    }
      .group-text1 span{
        color: #45a972;
      }
      .btn-cont1 button{
         display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
        gap: 10px;
        background-color: #FFBB8A;
        border-radius: 50px;
        border: none;
        color: white; 
           cursor: pointer;
      }
      .btn-cont1{
        display: flex;
        align-items: center;
        gap: 40px;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.521);
      }
      .img-conter1{
        position: relative;
        top: -100px;
        left: 150px;
        width: 700px;
        z-index: 1;
      }
      .finish-conter1{
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
      }
     
         .finish-conter1 img{
            width: 130px;
         }
@media(max-width: 600px){
.logo-text{
    display: none;
}
.block-center{
    display: none;
}


 .logo1 img{
width: 120px;
 }
 .logo2 img{
    margin-left: -50px;
    width: 60px;
 }
 .logo3 img{
     width: 60px; 
       margin-left: -50px;
 }
.box-logo{
margin-left: 10px;
    display: flex;
    justify-content: center;
  
}
.none-imege{
    display: flex;
    width: 30px;
    
}
.btn-menu button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding: 20px 20px;
    margin-left: 50px;
}


 nav{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    
 }   

.container1{
    display: flex;
    justify-content: center;
    flex-direction:column-reverse;
}
.img-conter1{
   margin-right: 300px;
   width: 500px;
   margin-top: 50px;
  
}
 
.group-text1{
    font-size: 20px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.cont-conter1{
    background-color: #FFBB8A;
}

.mobile-version p{
    color: rgba(0, 0, 0, 0.648);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
font-size: 23px;  
margin-left: 50px;  
}
.btn-cont1{
    display: flex;
    flex-direction: column;
}
.btn-cont1 button{
    font-size: 20px;
    border: none;
}
.btn-cont1 p{
    color: rgb(177, 177, 177);
    font-size: 15px;
    padding-bottom: 20px;
}
.finish-conter1{
background-color: #FFBB8A;
display: flex;
gap: 20px;
}
.finish-conter1 img{

 background-color: #FFBB8A;
 width: 100px;
}
.img-logos{
    display: none;
}
.img-boy img{
    display: flex;
    justify-content: center;
    align-items: center;
   margin-left: -150px;
    width: 100%;
    height: auto;

}


 }  
.container2{
    padding-top: 100px;
  max-width: 1200px;
    margin: 0 auto;

}

.text-conter2{
font-weight: 100;

}
.text-box-cont2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text-p{
    color: rgba(0, 0, 0, 0.641);
}
.cont-conter2{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.text-box-cont2 h2{
    font-weight: 100;
}
.section1{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.section2{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.section3{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 150px;
}


@media(max-width: 600px){
.container2{
    background-color: #FFBB8A;
}

.cont-conter2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-box-cont2 h1{
    display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  font-size: 40px;
  
}
.text-box-cont2 p{
     display: flex;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-content: space-around; 
}
.text-box-cont2{
  display: flex;    
  
  justify-content: center;
  align-items: center;
  justify-content: space-around;  
}

.section1{
margin-top: -50px;
   display: flex;    
  flex-direction:column-reverse;
  justify-content: center;
  align-items: center;
  justify-content: space-around; 
  gap: 30px;    
}
.text-box-cont2 p{
   display: flex;
  font-size: 12px;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-content: space-around; 
}

.img-section1 img{
    width: 100%;
    height: auto;
}
.section2{
margin-top: -50px;
   display: flex;    
  flex-direction:column;
  justify-content: center;
  align-items: center;
  justify-content: space-around; 
  gap: 30px;    
}
.section3{
margin-top: -50px;
   display: flex;    
  flex-direction:column-reverse;
  justify-content: center;
  align-items: center;
  justify-content: space-around; 
  gap: 30px;    
}
}

.text-box-cont02{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.box-img-conter3{
   
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.box-img-conter3{
display: flex;
justify-content: space-around;
align-items: center;
gap: 20px;

}

.img-conter3 img{
    margin-top: 100px;
    width: 250px;
    height: auto;
}
.img-conter3{
   display: flex;
   gap: 30px;
   flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.img-conter03{
   display: flex;
   gap: 30px;
   flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.img-conter03 img{
    margin-top: 100px;
    width: 250px;
    height: auto;
}
.text-p2{
    color: #68B48A;
}
.img-conter003 button{
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
  justify-content: center;
  align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.263);
}
.img-conter003 button:hover{
background: #1e201f9d;

}
.img-conter3 button{
    position: absolute;
    right: 200px;
    margin-top: 40px;
  
    display: flex;
  justify-content: center;
  align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.263);
}
.img-conter3 button:hover{
background: #1e201f9d;

}

.img-conter013 img{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 45px;
   top: 2560px;
   border-radius: 20px;
   
}
.img-conter013 img{
    margin-top: 100px;
    width: 250px;
    height: 250px;
}
@media(max-width: 600px){
.img-conter3{
    display: none;
}
.img-conter013{
    display: none;
}
.text-box-cont02 h1{
    font-size: 40px;
}
.container3{
    background-color: #FFBB8A;
}
.text-box-cont02 p{
    font-size: 20px;
}
.img-conter03 img{
    display: flex;
    justify-content: center;
    align-items: center;
position: relative;
right: 50px;
z-index: 1;
}
.img-conter003 button{
display: none;
}
.img-conter03 p{
    margin-left: -100px;
}
.img-conter3 button{
    display: none;
}

}

.container4{
max-width: 1200px;
    margin: 0 auto;
   
}


.money h2{
    font-weight: 100;
    font-size: 40px;
}

 .box-conter4{
    display: flex;
    flex-direction: column;
gap: 30px;
padding: 100px 200px;
 }   
 .section1-cont4{
   display: flex;
   flex-direction: column;
    justify-content: center;
gap: 30px;
border-radius: 10px;
  padding:  40px 40px;
background-color: white;

 }

 .number-box{
     display: flex;
     gap: 10px;
    

 }
 .orange1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FFBB8A;
    color: white;
  width: 5px;
  height: 25px;
    font-size: 12px;
    padding: 0px 10px;
    border-radius: 50%;
 }
 .btn-conter4 button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    border-radius: 20px;
    background-color: #5EB083;
    color: white;
    border: none;
    cursor: pointer;
 }
 .conter-group4{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
 }
 .section1-cont5{
   display: flex;
   flex-direction: column;
    justify-content: center;
gap: 30px;
border-radius: 10px;
  padding:  58px 40px;
background-color: white;

 }

 @media(max-width: 600px){
.container4{
    background-color: #FFBB8A;
    display: flex;
    flex-direction: column;
}
.box-conter4 h1{ 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

   
}
.box-conter4 p{
display: flex;
flex-direction: column;
text-align: center;
}

.conter-group4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    width: 90%;
    height: auto;
    margin-left: 20px;
   
}
.section1-cont4{
 display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    

}

 }
.container5{
 max-width: 1200px;
    margin: 0 auto; 
    padding-top: 100px;  
}
.box-group5 h2{
font-weight: 100;
}
.box-group5{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box-group5 p{
font-size: 20px;

}
.btn-box5 button{
    color: rgba(0, 0, 0, 0.577);
    border: none;
   border-radius: 20px;
    padding: 10px 20px;
    background-color: #c9dcfec4;
    cursor: pointer;
}
.btn-box5{
    display: flex;
    gap: 20px;
    padding-bottom: 50px;
}
.img-blackfon{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: start;
    gap: 40px;
    color: white;
    background-color: #32333D;
 padding: 70px;
 border-top-left-radius: 30px;
 border-bottom-left-radius: 30px;
}
.black-elemets{
    color: rgba(255, 255, 255, 0.386);
    display: flex;
    gap: 20px;
}
.img-4p{
    position: relative;
    color: black;
  display: flex;  
}
.img-4p p{
    position: relative;
    left: -40px;
    top: 13px;
}
.calacol{
    position: relative;
    display: flex;
}

.calacol p{
    font-size: 13px;
    border-radius: 50%;
    padding: 10px 16px;
    height: 10px;
    width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #45a972;
    left: -70px;
    top: 11px;
}
.strelka{
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -55px;
    top: 20px;
   height: 15px;
   width: 8px;
   cursor: pointer;
}
.calacol2{
    position: relative;
    display: flex;
}
.strelka2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -20px;
    top: 20px;
   height: 15px;
   width: 8px;
   cursor: pointer;
}
.block-calacol{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 200px;
}
.section5-blackfon{
    display: flex;
 margin-left: -120px;
}
.fon-blackfon{
    
    width: 100%;
   padding-top: 100px;
    background-color: white;
}
.text1-blackfon{
   display: flex;
    flex-direction: column;
    gap: 30px;    
}
.center-text-cont5{
    display: flex;
   justify-content: space-around;
 padding-bottom: 50px;
}

.block001{
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    gap: 30px;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: #E5EDFA;
}
.btn-blackfon{
    margin-top: 100px;
}
.block001 p{
color: rgba(0, 0, 0, 0.622);

}
.block002{
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    gap: 30px;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: #FFEDDF;
}
.block-rjb{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
 .btn-conter5 button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 50px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
 }
 .block003{
    width: 280px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    gap: 30px;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: #EDFFF5;
}

 @media(max-width: 600px){


    
 }